* {
    font-family: "Comic Sans MS";
}

thead {
    text-align: left;
    color: #fff;
    background-color: #282323;
}

.delete-button, .back-button {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 20px;
    border: none;
}

.delete-button:hover, .back-button:hover {
    cursor: pointer;
}

.delete-button {
    background-color: red;
}

.back-button {
    background-color: blue;
}

.epic-form label::after {
    content: "\A \A";
    white-space: pre;
}

.epic-form label input {
    margin-left: 20px;
}